<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>404-Zzn</title>
    <link rel="shortcut icon" href="./images/zznhead.ico" />
</head>
<body >

<div id="left" style=" float: left;margin-left: 450px;margin-top: 150px ">
    <h3><em style="font-style:normal;font-size: 30px;color: #4bc7ff">Error</em>
        <em style="font-style: normal;margin-left: 10px;color: #4bc7ff">404</em></h3>


<p style="font-size: 24px; color: #ff7724" >NOT FOUND</p>
<p style="font-size: 20px;color: crimson" >很抱歉，您要找的对象丢了</p>
<p style="font-size: 20px;color: #9f14ff" >有可能我们的网页正在维护或者您输入的网址不正确</p>

</div>
<div id="right" class="zzn404" style="margin-left:50px;margin-top:200px;float: left">
    <img src="./images/zzn.jpg">
</div>

</body>
</html>